

	{% if product.tags contains 'digital_triband_promax' %}
      <li>Coverage up to 500 sq m</li>
      <li>Compatible with all networks</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  {% endif %}

{% if product.tags contains 'MRE401' %}
      <li>Coverage up to 5000 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  {% endif %}

  {% if product.tags contains '3GMiniBooster' %}
      <li>Automobile conversion kit</li>
      <li>Compatible with all repeaters</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  {% endif %}

  {% if product.tags contains '900PRO' or product.tags contains '1800PRO' %}
      <li>Coverage up to 500 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  {% endif %}

  {% if product.tags contains 'Tri-Band' %}
      <li>Coverage up to 250 sq m</li>
      <li>All Networks + 3G Data</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  {% endif %}

  {% if product.tags contains '3G2100PRO' %}
      <li>3G Data Networks Compatible</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  {% endif %}

	{% if product.tags contains 'MiniGSM900/3G' %}
      <li> Covers up to 250 square meters</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains '900/3GPROX13' %}
      <li> Covers up to 500 sq m</li>
      <li>Vodacom & 3G</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'DualBandPROX13' %}
      <li> All Mobile Networks except 3G</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MiniDualBandX13' %}
      <li>All Mobile Networks except 3G</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MiniGSM900' or product.tags contains 'MiniGSM1800' %}
      <li>Coverage up to 250 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'VehicleBooster' %}
      <li>All Mobile Networks except 3G</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'PowerMAXGSM900' %}
      <li>Coverage up to 1000 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}


	{% if product.tags contains 'PowerMAXTri-Band' %}
      <li>Coverage up to 1000 sq m</li>
      <li>All Networks + 3G Data</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAXGSM900/3G' %}
      <li>Coverage up to 1000 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRUltraMAX33dB' %}
      <li> 3G Data Networks Compatible</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAXTri-BandXT+' %}
      <li> 3G Data Networks Compatible</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAXTri-BandXT' %}
      <li> 3G Data Networks Compatible</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAX3G2100XT+' %}
      <li>Coverage up to 5000 sq m </li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'PowerMAXGSM1800XT+' %}
      <li>Coverage up to 5000 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAXGSM900XT+' or product.tags contains 'MRPowerMAXGSM900/3GXT+' %}
      <li>Coverage up to 5000 sq m</li>
      <li>Simple Installation</li>
      <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

    {% if product.tags contains 'PowerMAX900/1800XT+'%}
          <li>Coverage up to 5000sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAX3G2100XT'%}
          <li>Coverage up to 2500sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'PowerMAXGSM1800XT4G'%}
          <li>Coverage up to 2500sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAXGSM900/3GXT'%}
          <li>Coverage up to 2500sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'PowerMAX900/1800XT'%}
          <li>Coverage up to 2500sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAX3G2100'%}
          <li>Coverage up to 1000sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'PowerMAXGSM900XT'%}
          <li>Coverage up to 2500sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRPowerMAX900/1800'%}
          <li>Coverage up to 1000sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'MRUltraMAX37dB'%}
          <li>Coverage up to 1000sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}


	{% if product.tags contains 'PowerMAXGSM1800'%}
          <li>Coverage up to 1000sq m</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}
	{% if product.tags contains 'CarAdapters'%}
          <li>All Networks </li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'CeilingAntenna'%}
          <li>GSM 900/1800/3G 2100</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'Wi-FiAmplifier'%}
          <li>DOUBLE Network Range</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'DomeAntennaforTripleRepeater'%}
          <li>DOUBLE Network Range</li>
          <li>Simple Installation</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'Lightning/SurgeProtector'%}
          <li>18kA Rating</li>
          <li>N-male to N-female</li>
          <li>Easy to install</li>
  	{% endif %}

	{% if product.tags contains 'PowerSupplies'%}
          <li>For all MR Models</li>
          <li>UK Plugs</li>
          <li>CE Marked</li>
  	{% endif %}

	{% if product.tags contains 'MRYagiMountingBracket'%}
          <li>Adjustable Base</li>
          <li>High Grade Steel</li>
  	{% endif %}

	{% if product.tags contains 'CrimpTool(for -5 & smaller)'%}
          <li>Frame with Die</li>
          <li>Simple Installation/li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'CableSliceTool'%}
          <li>Used for cables under 30m</li>
          <li>Simple Installation/li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'DomeAntennaforTripleRepeater2'%}
          <li>Marine Applications</li>
          <li>Caravans & Trailers</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'Triple-BandFrequencyCombiner'%}
          <li>Connects multiple units</li>
          <li>For large applications</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains '4WaySignalSplitter' or product.tags contains '3WaySignalSplitter' or product.tags contains '2WaySignalSplitter'%}
          <li>800-2500MHz</li>
          <li>Up to 2 indoor antennas</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'LogarithmAntenna'%}
          <li>7/9/12 dBi Gain</li>
          <li>All Repeater Models</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'PanelAntenna'%}
          <li>GSM 900/1800/3G</li>
          <li>Simple Mounting</li>
          <li> <a rel="nofollow" href="/pages/returns">Money Back Guarantee</a> </li>
  	{% endif %}

	{% if product.tags contains 'N-typeFemaleBarrel'%}
          <li>For Extensions</li>
          <li>Join 2 Male Plugs</li>
		  <li>N-type Female</li>
          <li>Simple Connection</li>
  	{% endif %}

	{% if product.tags contains 'NKscrewconnector'%}
          <li>18kA Rating</li>
		  <li>N-male to N-female</li>
          <li>Easy to install</li>
  	{% endif %}



  {% if product.tags contains '10meterofcable' %}
      <li>For outdoor aerials</li>
      <li>For indoor aerials</li>
      <li>With connectors</li>
  {% endif %}

{% if product.tags contains 'standardcables' %}
      <li>For Signal Booster Aerials</li>
<li> Low Loss Design </li>
      <li>With connectors</li>
<li>Durable Materials</li>

  {% endif %}
