<div class="certifications page-width">

  <h1>Certifications section</h1>

</div>

{% schema %}
  {
    "name":  {
    "de": "Home Zertifizierungen",
    "en": "Home page Certifications",
    "es": "Certificaciones en Inicio",
    "fr": "Accueil Certifications",
    "it": "Home page Certificazioni",
    "ja": "ホームページの認定",
    "pt-BR": "Inicial Certificações"
	},
	"class": "index-section index-certifications index-section--flush",
    "settings": [
	 {
        "id": "cert_1",
        "type": "image_picker",
        "label": "Certificate 1"
	},
	 {
        "id": "cert_2",
        "type": "image_picker",
        "label": "Certificate 2"
	},
	 {
        "id": "cert_3",
        "type": "image_picker",
        "label": "Certificate 3"
	}
	],
	"presets": [
	{
	"name": "index Certifications",
	"category": "Custom"
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
