@import "https://fonts.googleapis.com/css?family=Nunito|Open+Sans";
/* vars */
$color-1: #379FE8;
$color-2: #4CE2A7;
$color-error: #E24C4C;
$color-alert: #F1A153;
$color-clear: #FFF;
$color-dark: #022047;
$grey-1: #CCCCCC;
$grey-2: #333333;
$grey-3: #666666;
$grey-4: #999999;
$color-white: #FFF;
$color-black: #000;
$top-header-height: 35px;
$header-height: 80px;
$font-headings: 'Nunito', sans-serif;
$font-content: 'Open Sans', sans-serif;
$shadow-height-1: 2px;
$shadow-height-2: 5px;
$shadow-height-3: 8px;

/* wireframe */
/* * {outline: 1px solid black;} */

/* general */
body {
/*   background: $color-1; */
  font-family: $font-content;
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-headings;
  }

  div, section, article {
    height: 100%;
  }

  p {
    font-family: $font-content;
  }

  a {
    display:block;
    text-decoration: none;
    font-family: $font-content;
    color: $color-1;

    &:hover {
      color: $color-alert;
      text-decoration: none;
    }
  }
}
.button-icon {
  &:hover, &:focus {
    color: $color-alert !important;
    svg {
    	color:$color-alert;
    }
  }
}
.hidden {
	display: none;
}
.ha {
  height: auto;
}
.search-button {
	color: $color-clear;
  &:hover, &:focus {
  	color: $color-alert;
  }
}
/* mixins */
@mixin shadow($hor,$height,$blur,$color) {

  box-shadow: $hor $height $blur $color;

}
/*  */

/* header */
#top-header {
  background-color: $color-1;
  color: $color-clear;
  font-size:0.75em;
  height: auto;
  min-height: 40px;
  position: relative;
  z-index: 9999997;
  #info {
    height: $top-header-height;
    a {
      color: $color-clear;
      &:hover {
        color: $color-dark;
      }
    }
  }
  #search {
    height: $top-header-height;
    button.site-header__search-toggle {
      i {
        font-size: 1.6em;
        color: $color-clear;
      }
        &:hover {
          color: $color-dark;
        }
    }
  }
}
.cont-header {
  height: $header-height;
  display: flex;
  padding: 0;
}
.cont-logo {
  height: $header-height;
  padding: 0;
  .row.col {
  	padding: 0;
  }
}
.cont-header-cart {
  height: $header-height;
  padding: 0;
  .icon-cart {
  	color: $color-1;
  }
  icon-hamburger {
  	color: $grey-1;
  }
  .icon-close {
  	color: $color-error;
  }
  #fixed-search-button {
  	color: $color-2;
    font-size: 1.4em;
    &:hover, &:focus {
    	color:$color-alert;
    }
  }
}
header.site-header {
  height: $header-height;
  top: 0;
  left: 0;
  @include shadow($shadow-height-1,$shadow-height-1,5px,$grey-2);
  z-index: 9999998;
}
#SearchDrawer {
  z-index: 9999999;
}
.site-header__logo {
	height: 100%;
  a {
    img {
    	min-height: 70px;
    }
  }
}
#SiteNav {
  margin: 0;
  li {
  	a {
  	  color: $color-dark !important;
      text-decoration: none;
  	  &:hover {
    	color: $color-1;
        text-decoration: none !important;
    	}
  	}
  }

}
/*heroscreen */
#heroscreen {
  min-height: 100vh;
  height: auto;
  background-color: $color-2;
  h1,h2,h3,h4,h5,h6 {
  	color: $color-white;
  }
  #hero-select {
 	margin: 48px 0;
    align-items: center;
    #hero-buttons {
      .hero-button {
        margin: 16px;
        height:180px;
        width: 180px;
        display: inline-block;
        background: $color-alert;
        border-radius: 5px;
        @include shadow($shadow-height-1, $shadow-height-1, 2px, $color-dark);
        &:hover {
          @include shadow($shadow-height-2, $shadow-height-2, 3px, $color-dark);
        }
        a {
          height:100%;
          width: 100%;
          i {
          	font-size: 5em;
            color: $color-clear;
          }
        }
        p {
          color: $color-clear;
          font-weight: bolder;
          font-size:1.1em;
        }
      }
    }
  }
}

.ratio-container::after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 0;
    content: "";

}
/* overrides */
.site-header__mobile-nav {
    position: static !important;
    background-color: #fff;
}
.site-header__logo {
  margin: 0 0;
  padding: 8;
}
#AccessibleNav {
  padding: 0;
}
.mobile-nav-wrapper {
	padding-top: $header-height;
}
.search-bar__close {
  &:hover {
  	color: $color-alert;
  }
}
.site-nav__link--active .site-nav__label {
    border-bottom-color: transparent;
}
