@import "https://fonts.googleapis.com/css?family=Nunito|Open+Sans";
/* vars */
$color-1: #379FE8;
/* $color-2: #4CE2A7; */
$color-2: #448C00;
$color-error: #E24C4C;
/* $color-alert: #F1A153; */
$color-alert: #F47644;
$color-clear: #FFF;
$color-dark: #022047;
$grey-1: #F7F7F7;
$grey-2: #E8E8E8;
$grey-3: #DCDCDC;
$grey-4: #C4C4C4;
$grey-5: #AAAAAA ;
$grey-6: #8C8C8C;
$grey-7: #666666;
$grey-8: #474747;
$color-white: #FFF;
$color-black: #000;
$top-header-height: 35px;
$header-height: 88px;
$font-headings: 'Nunito', sans-serif;
$font-content: 'Open Sans', sans-serif;
$shadow-height-1: 2px;
$shadow-height-2: 5px;
$shadow-height-3: 8px;
$border-radius: 5px;
$quote-font: 1.6em;

/* wireframe */
/* * {outline: 1px solid black;} */

/* mixins */
@mixin shadow($hor,$height,$blur,$color) {

  box-shadow: $hor $height $blur $color;

}
/*  */

/* general */
body {
/*   background: $color-1; */
  font-family: $font-content;
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-headings;
    text-align: center;
    width: 100%;
    font-weight: bolder;
  }

  div, section, article {
    height: 100%;
  }

  p {
    font-family: $font-content;
  }

  a {
    display:block;
    text-decoration: none;
    font-family: $font-content;
    color: $color-1;
    &:hover {
      color: $color-alert !important;
      text-decoration: none;
    }
  }
}
input, textarea, select {
  border: 2px solid $color-2;
  background-color: $grey-1;
  color: $color-dark;
  max-width: 100%;
  line-height: 1.2;
  border-radius: $border-radius;
}
.button-icon {
  &:hover, &:focus {
    color: $color-alert !important;
    svg {
    	color:$color-alert;
    }
  }
}
.btn, .readmore {
  color: $color-white !important;
  background-color: $color-2;
  padding: 8px 32px;
  border-radius: $border-radius;
  font-size: 0.8em;
/*   @include shadow($shadow-height-1,$shadow-height-1,1px,$color-black);   */
  &:hover, &:focus, &:active {
    background-color: $color-1 !important;
    border: 1px solid $color-1 !important;
  	opacity:0.8;
    color: $color-clear !important;
    @include shadow($shadow-height-1,$shadow-height-1,4px,$color-black);
  }
}
.shopify-cleanslate ._1J7LySxeLbBFoth2UBgmCQ { 
  border-radius: $border-radius !important;
}
.imgLiquid {
	border-radius: 11px;
}

/* .index-section {
  padding: 0;
} */
.hidden {
	display: none;
}
.ha {
  height: auto;
}
.search-button {
  color: $color-clear;
  padding-left: 11px;
  padding-right: 11px;
  &:hover, &:focus {
  	color: $color-alert;
  }
}
/* header */
.site-header__logo {
  padding: 0 !important;
  .site-header__logo-image {
    padding: 5px 0;
    img {
      width: auto;
      max-width: 150px;
      min-height: 0;
    }
  }
}
#top-header {
  background-color: $color-1;
  color: $color-clear;
  font-size:0.75em;
  height: auto;
  min-height: 40px;
  position: relative;
  z-index: 9999997;
  #info {
    height: $top-header-height;
    a {
      color: $color-clear;
      &:hover {
        color: $color-dark;
      }
    }
  }
  #search {
    height: $top-header-height;
    button.site-header__search-toggle {
      i {
        font-size: 1.6em;
        color: $color-clear;
      }
      &:hover {
        color: $color-dark;
      }
    }
    
  }
}
.cont-header {
  height: $header-height;
  display: flex;
  padding: 0;
}
.cont-logo {
  height: $header-height;
  padding: 0;
  .row.col {
  	padding: 0;
  }
}
.cont-header-cart {
  min-height: $header-height;
  padding: 0;
  .icon-cart {
  	color: $color-1;
  }
  icon-hamburger {
  	color: $color-dark;
  }
  .icon-close {
  	color: $color-error;
  }
  #fixed-search-button {
  	color: $color-2;
    font-size: 1.4em;
    &:hover, &:focus {
      color:$color-alert;
    }
  }
}
header.site-header {

  background-color: #FFF;
  min-height: $header-height;
  top: 0;
  left: 0;
  @include shadow($shadow-height-1,$shadow-height-1,3px,$color-black);
  z-index: 9999998;
  transition: 0.2s;
}
#SearchDrawer {
  z-index: 9999999;
}
.site-header__logo {
	height: 100%;
  a {
    img {
    	min-height: 70px;
    }
  }
}
#SiteNav {
  margin: 0;
  li {
  	a {
  	  color: $color-dark !important;
      text-decoration: none;
  	  &:hover {
    	color: $color-1 !important;
        text-decoration: none !important;
    	}
  	}
  }

}
.announcement-bar {
  background-color: $color-2 !important;
}
/* slider */
.slideshow-wrapper {

}
.slideshow__arrows {
  width: auto !important;
  display: none;
}
.slideshow__pause {
	display: none;
}
.slick-dots {
    bottom: 5px;
    display: block;
    width: auto;
}

/*heroscreen */
#shopify-section-hero {
  padding-top: 0;
  padding-bottom: 0;
}
#heroscreen {
  min-height: 100vh;
  height: auto;
  background-color: $color-2;
  h1,h2,h3,h4,h5,h6 {
  	color: $color-white;
  }
  #hero-select {
 	margin: 48px 0;
    align-items: center;
    #hero-buttons {
      .hero-button {
        position: relative;
        margin: 16px;
        height:180px;
        width: 180px;
        display: inline-block;
        background-color: transparent;
        border-radius: $border-radius;
        overflow: hidden;
        @include shadow($shadow-height-1, $shadow-height-1, 3px, $color-black);
        &:hover {
          @include shadow($shadow-height-2, $shadow-height-2, 5px, $color-black);
        }
        .overlay {
          position: absolute;
          top:0;
          bottom:0;
          height: 100%;
          width: 100%;
          padding: 0;
          z-index: 0;
          & img {
            height: 100%;
            width: auto;
          }
        }
        .overlay-vert {
          position: absolute;
          top:0;
          bottom:0;
          height: 100%;
          width: 100%;
          padding: 0;
          z-index: 0;
          & img {
            height: auto;
            width: 100%;
          }
        }
        .overlay-color {
          position: absolute;
          top:0;
          bottom:0;
          height: 100%;
          width: 100%;
          padding: 0;
          background-color: $color-dark;
          opacity: 0.3;
          z-index: 1;
        }

        a {
          position: absolute;
          top:0;
          bottom:0;
          height:100%;
          width: 100%;
          z-index: 2;
        }
        p {
          color: $color-clear;
          text-shadow: 1px 1px 2px $color-black;
          font-weight: bolder;
          font-size:1.25em;
/*           text-shadow: $shadow-height-2, $shadow-height-2, 4, $color-dark; */
        }
      }
    }
  }
}

.ratio-container::after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 0;
    content: "";

}
/* networks */
#shopify-section-1543803993381 {
  color: $color-dark;
}
.grid--view-items {
  padding: 16px;
}
.logo-bar__item {
  @include shadow($shadow-height-1,$shadow-height-1,3px,$color-black);
  border-radius: $border-radius;
  padding: 8px;
  &:hover {
  	@include shadow($shadow-height-2,$shadow-height-2,6px,$color-black);
  }
}
/* products */
#shopify-section-featured-collections {
/*   background-color: $grey-1; */
  background-color: $color-alert;
  color: $color-dark;
  h1,h2,h3,h4,h5,h6 {
  color: $color-clear;
  }
  .grid__item {
    .product-card {
      color: $color-dark;
      background-color: $color-white;
      border-radius: $border-radius;
      padding: 16px;
      @include shadow($shadow-height-1,$shadow-height-1,7px,$color-black);
      &:hover {
        @include shadow($shadow-height-2,$shadow-height-2,12px,$color-black);
      }
      .grid-view-item__image-wrapper {
      	height:220px;
        border-radius: $border-radius;
      }
      .price {
      	text-align: center;
        .price__regular {
          color: $color-2;
          width: 100%;
        }
        .price__sale {
          color: $color-error !important;
          width: 100%;
        }
      }
    }
  }
}
.list-view-item__image-wrapper {
    position: relative;
    margin-right: 0px !important;
}
.product-excerpt {
  height: 200px;
  h5 {
  	color: $color-dark !important;
  }
}
.product-details-list {
  color: $grey-7;
  ul {
    li {
      list-style-type: circle;
      font-weight: bolder;
    }
  }
}
.prod-card-list {
  padding: 0;
}
.product-single__title {
  color: $color-dark !important;
}
.price__regular {
  color: $color-2;
  font-size: 1.5em;
/*   width: 100%; */
}
.price__sale {
  color: $color-error;
  font-size: 1.5em;
/*   width: 100%; */
}
.return-link-wrapper {
  margin-bottom: 32px;
}
.social-sharing {
  a {
    background-color: $grey-1;
    color: $color-dark;
    &:hover {
      background-color: $grey-2 !important;
      color: $color-dark !important;
      border: 1px solid $grey-2 !important;
    }
  }
}
.product-model {
  font-size: 1em;
  padding: 16px 0;
  span {
  	font-size: 1.4em;
    color: $color-alert;
  }
}
.product-form {
  margin-bottom: 32px;
}
.product-single__description {
  margin-top: 16px !important;
  margin-bottom: 32px !important;
  min-width: 100% !important;
}
.product-form {
  padding-top: 0;
}
.product-list-image {
 height: 150px;
}
.list-view-item__on-sale,
.list-view-item__sold-out {
  color: $color-error;
  font-size: 1.5em;
}
ul.list-view-items {
  li.list-view-item {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0px;
    &:nth-child(odd) {
    a {
      background-color: $color-1;
      padding: 16px 16px;
    }
  }
  div {
    color: $color-white;
    .price-item--sale,
    .list-view-item__on-sale {
      color: $color-alert;
    }
  }
  &:nth-child(even) {
    a {
      background-color: $grey-1;
      padding: 16px 16px;
      color: $color-dark;
      h4 {
      	color: $color-dark;
      }
      .price-item--regular {
     	color: $color-dark; 
      }
      .price__sale {
      	color: $color-alert;
      }
    }
  }
    div {
      color: $color-white;
      .price-item--sale,
      .list-view-item__on-sale {
      color: $color-alert !important;
      }
    }	
  }
}
.prod-card-list {
  .list-view-item__link {
    margin-right: 0;
    margin-left: 0;
    .card-description {
      min-height: 150px;
      height: 100%;
      .row {
        height: 100%;
        min-height: 150px;
        
      }
    }
  }
}
.product-card.product-card--list {
  a {
    display: block;
    position: relative;
    @include shadow($shadow-height-1,$shadow-height-1,4px,$color-black);
    &:hover {
      @include shadow($shadow-height-1,$shadow-height-1,7px,$color-black);
    }
  }
}
dl.price {
  .row {
  	margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }
}
a.full-width-link {
/*   display: block;
  position: relative; */
  border-radius: 5px;
  &:hover {
  	color: $grey-2;
    text-decoration: none !important;
  }
  h1,h2,h3,h4,h6 {
  	font-weight: 100;
  }
}
/* coverage */
.index-coverage {
  background-color: $grey-1;
  color: $color-dark;
  ul {
    margin-top: 32px;
    li {
      display: inline-block;
      text-align: center;
      a {
        color: $color-1;
        padding: 16px;
        font-weight: bolder;
        font-size: 2em;
        margin-bottom: 16px;
        border: 1px solid $color-1;
        border-radius: $border-radius;
        &:hover {
          border: 1px solid $color-alert;
          @include shadow($shadow-height-1,$shadow-height-1,4px,$color-black);
/*           text-shadow: $shadow-height-1 $shadow-height-1 2px $color-black; */
        }
      }
    }
  }
}
/* about */
#shopify-section-1543821116990 {
  padding-bottom: 0;
  color: $color-dark;
}
#shopify-section-1543819517470 {
  padding-top: 0;
}
/* custom sections */
#shopify-section-1543821887824,
#shopify-section-1543824080741 {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-1;
}
#shopify-section-1543989407387.index-section {
  padding-top: 0;
  padding-bottom: 0;
  .quote {
  max-width: 100%;
  }
}
#Slideshow-1543988106747 {
	margin-bottom: 0;
}
.index-section--slideshow {
    padding-bottom: 0;

}
.quote {
  background-color: $color-1;
  color: $color-white;
  font-size: $quote-font;
  padding: 32px 32px;
  text-align: center;
}
.custom__item-inner {
  text-align: center;
  a {
    width: auto;
  }
}
/* certifications */
.index-certifications {
  min-height: 100vh;
  padding-bottom: 32px;
  #certifications {
    color: $color-dark;
    .row {
      padding-top: 32px;
    }
    .imgLiquid {
      height: 65vh;
      @include shadow($shadow-height-1,$shadow-height-1,7px,$color-black);
      border-radius: $border-radius;
    }
    .btn {
      margin: 16px 0;
    }
  }
}
/* newsletter */
.newsletter-section {
  color: $color-dark;
  padding-bottom: 48px;
}
/* footer */
footer.site-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  #footer_directions {
    padding-top: 32px;
/*     background-color: $grey-5; */
    ul {
      li {
      	padding: 32px 32px;
      }
    }
  }
  .footer_blocks {
    padding-top: 32px;
    padding-bottom:32px;
    background-color: $grey-6;
    max-width: 100%;
  }
  .site-footer__hr {
    background-color: $color-clear;
    margin: 0;
    border-bottom: 0;
    border-top: 1px solid $color-alert;
  }
  & a, & p {
  	background-color: $grey-6;
  }
  .page-width:last-child {
  	padding-top: 32px;
    padding-bottom: 32px;
    & a, & p {
  	background-color: $color-2;
    }
  }
  .copyright {
  	width: 100%;
    text-align: center;
    a {
      width: auto;
    }
  }
  .site-footer__item {
    margin-bottom: 0;
  }
  i.fa.fa-envelope {
  	font-size: 1.6em;
  }
}
/* blog */
#blog_grid {
  padding: 32ps 16px;
  margin-bottom: 32px;
}
/* blog	 {
  a {
    display: inherit;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
  color: #379fe8;
  }
}
 */
/* overrides */
#PageContainer {
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
}
.site-header__mobile-nav {
  position: static !important;
  background-color: #fff;
}
.mobile-nav__link {
  color: $color-dark;
}
.site-header__logo {
  margin: 0 0;
  padding: 8;
}
#AccessibleNav {
  padding: 0;
}
.mobile-nav-wrapper {
  padding-top: $header-height;
}
.search-bar__close {
  &:hover {
    color: $color-alert;
  }
}
.site-nav__link--active .site-nav__label {
  border-bottom-color: transparent;
}
.page-wdth {
  max-width: 100%;
}
//pagination
.list--inline.pagination {
  padding-top: 0;
  margin: 32px 0;
}
/* collection */
.page_specs_list {
  text-align: left;
}
.section-header {
  color: $color-dark;
  text-align: center;
  h1 {
/*     text-align: left; */
    margin-bottom: 32px;;
  }
}
.collection-hero__title {
  color: $color-dark;
}
/* content templates */
.prod-table-especifications h1 {
	color: #225393;
	font-size: 35px;
	padding-bottom: 15px;
	padding-top: 20px;
}
.prod-table-especifications h2 {
	color: #0C3467;
	font-size: 24px;
}
.prod-table-especifications h3 {
	color: #225393;
	font-size: 18px;
	padding-bottom: 10px;
}
.prod-table-especifications p {
	padding-bottom: 15px;
}
.prod-table-especifications .table_prod table tbody tr td img {
       width: 30px !important;
}
.table_prod {
	background: #fff;
	color: #00390A;
	border-collapse: collapse;
 }
.table_prod td, #table_prod th {
    border: 1px solid #666;
    padding: 8px;
}
.table_prod tr:nth-child(even){
/*   background-color: #f70;
  opacity: 0.25; */
}
.table_prod tr:hover {background-color: #AAC2E1;}
.table_prod th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
.product-options-bottom {
    background-color: transparent;
}
.manual_prod {
}
.manpdf-caja {
    display: inline-block;
		margin: auto;
		padding: 15px;
		width: 30%;
		text-align: center;
}
.image_int_prod {
	margin: auto;
    width: 50%;
  	padding: 15px;
}
.brand_image {
    width: 100%;
    height: 70px;
}

/* Page and collection template */
.page_header_img {
  height: 280px;
  width: 100%;
  margin-bottom: 16px;
}
.page_img_small {
  height: 120px;
}
.page_img_medium {
  height: 275px;
}
.page_img_large {
  height: 550px;
}
.shown {
  a {
    display: contents;
  }
}
.readmore.button {
  display:block;
  color: $color-1;
  border-bottom: $color-1;
  text-align: center;
  margin-bottom: 32px;
  padding-bottom: 8px !important;
}
span.star {
    float: left !important;
    background: url(//cdn.shopify.com/s/files/1/0884/4754/t/5/assets/star.jpg?5103020294049337258) 0 100% no-repeat;
    width: 30px !important;
    height: 30px !important;
    margin-right: 5px !important;
    font-size: 0px !important;
    display: block !important;
}
/* contact */
.info-txt {
  padding: 0;
  .container-fluid {
    padding-right: 0px ;
    padding-left: 0px ;
  }
}
/* responsive */
@media screen and (max-width: 767px) {
  .prod-card-list {
    .list-view-item__link {
      .card-description {
        min-height: 0 !important;
        height: auto !important;
        padding-bottom: 16px;
        .row {
          height: auto !important;
          min-height: 0 !important;
          padding-bottom: 16px;
        }
      }
    }
  }
  .section-header {
    color: $color-dark;
    h1 {
      text-align: center;
    }
  }
}